/*
0 - 600px: Phone
660px - 900px: Tablet Portrait Mode
900px - 1200px: Tablet Landscape Mode
[1200px - 1800px] is where our normal styles apply 
1800px + : Big Desktop
*/
/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;
    animation: moveInLeft 1s ease-in-out .25s backwards; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem;
        margin-right: 0; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-right: -1.74rem;
    animation: moveInRight 1s ease-in-out .25s backwards; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        margin-right: 0;
        font-weight: 400; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      line-height: 1.25; } }
  .heading-secondary:hover {
    transform: scale(1.05) translateY(-1rem);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  line-height: 2.4rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3.2rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-text-center {
  text-align: center; }

.u-margin-bottom-xsmall {
  margin-bottom: 1.6rem; }

.u-margin-bottom-small {
  margin-bottom: 2.4rem; }

.u-margin-bottom-medium {
  margin-bottom: 3.6rem; }

.u-margin-bottom-large {
  margin-bottom: 4.8rem; }

.u-margin-bottom-xlarge {
  margin-bottom: 8rem; }

.u-margin-top-xsmall {
  margin-top: 1.6rem; }

.u-margin-top-small {
  margin-top: 2.4rem; }

.u-margin-top-medium {
  margin-top: 3.2rem; }

.u-margin-top-large {
  margin-top: 4.8rem; }

.u-margin-top-xlarge {
  margin-top: 8rem; }

.btn, .btn:link, .btn:visited {
  position: relative;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: .4rem;
  transition: all .25s;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.25, 1.5);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white:after {
    background-color: #fff; }

.btn--green {
  background-image: linear-gradient(to right, #55c57a, #28b485);
  color: #fff; }
  .btn--green:after {
    background-image: linear-gradient(to right, #55c57a, #28b485); }

.btn--animated {
  animation: moveInBottom 1s ease-out 1.25s backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: .8rem 2.4rem;
  border-radius: .2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .2rem;
  color: #fff;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-size: 150%;
  transition: all .4s; }

.btn-text:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.2);
  background-position: 100%; }

.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  background-position: 50% 0; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    position: absolute;
    z-index: 1;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
      z-index: 2;
      outline-offset: 2rem;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  padding: 2.4rem;
  text-align: center;
  border-radius: .2rem;
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
  transition: all .25s;
  backface-visibility: hidden; }
  .feature-box__icon {
    font-size: 6rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    margin-bottom: 1.6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.04);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 50rem; }
  .card__side {
    position: absolute;
    height: 50rem;
    width: 100%;
    transition: all .8s ease;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7740); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(360deg); }
  .card__picture {
    background-size: cover;
    height: 23rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7740), url(../img/nat-5.jpg);
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 64, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        padding: 1rem 0; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #e1e1e1; }
  .card__cta {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 5.6rem; }
  .card__price-only {
    font-weight: 300; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.25; }

.story {
  padding: 6rem;
  padding-left: 9rem;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: .4rem;
  transform: skewX(-12deg);
  backface-visibility: hidden; }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    position: relative;
    width: 16rem;
    height: 16rem;
    float: left;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.4rem) brightness(70%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .10;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 1.6rem;
  position: relative; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: .3rem solid transparent;
  display: block;
  width: 90%;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 0.3rem solid #55c57a;
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.2); }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #ff7740; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2.4rem;
  margin-top: .8rem;
  display: block;
  transition: all .3s;
  transform: translateY(-9rem); }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 40%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.4rem solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.3rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #55c57a;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100Vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    display: table;
    position: absolute;
    width: 75%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    border-radius: .4rem;
    overflow: hidden;
    opacity: 0;
    transition: all .5s .2s ease-in; }
  .popup__left {
    width: 33.33333333%;
    display: table-cell;
    vertical-align: middle; }
  .popup__right {
    position: relative;
    width: 66.666666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 3rem;
    right: 3rem;
    text-decoration: none;
    font-size: 5rem;
    line-height: 2.5rem;
    display: inline-block;
    color: #7ed56f;
    transition: all .25s; }
  .popup__close:hover, .popup__close:active {
    color: #28b485; }
  .popup__text {
    margin-bottom: 4.8rem;
    column-count: 2;
    column-gap: 4.8rem;
    column-rule: 1px solid #e1e1e1;
    text-align: justify; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 4.8rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3.2rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row:not(:last-child) {
    margin-bottom: 4.8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3.2rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 8rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 8rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 8rem)) / 3) + 8rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 8rem)) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 8rem)) / 4) + (2* 8rem)); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 8rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 4.8rem 0; } }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    float: right; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__navigation, .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2.8rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #e1e1e1;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .25s;
    backface-visibility: hidden;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 0.8px 2.4rem rgba(0, 0, 0, 0.4);
    transform: rotate(-5deg) scale(1.1); }
  .footer__copyright {
    color: #777;
    text-align: justify;
    width: 95%;
    float: left; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none; } }

.navigation__checkbox {
  display: none; }

.navigation__btn {
  background-color: #fff;
  width: 6.2rem;
  height: 6.2rem;
  position: fixed;
  top: 6.4rem;
  right: 6.4rem;
  z-index: 2000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .navigation__btn {
      top: 4.4rem;
      right: 4.4rem; } }
  @media (max-width: 37.5em) {
    .navigation__btn {
      top: 3.4rem;
      right: 3.4rem; } }

.navigation__bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  backface-visibility: hidden;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__bg {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__bg {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  margin-left: -100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  -webkit-transition: all 0.8s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item:not(:last-child) {
  margin-bottom: 3rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    font-weight: 100;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateY(-1rem);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
  letter-spacing: .2rem; }

.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  margin-left: 0; }

.navigation__icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #999;
    display: block;
    position: absolute; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__btn:hover .navigation__icon::before {
  top: -1rem; }

.navigation__btn:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon:before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon:after {
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -19vh; }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  padding: 20rem 0;
  transform: skewY(-6deg);
  margin-top: -15vh; }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -10vh; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%, transparent 100%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: .4rem;
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 4.8rem; }
