//CLEARFIX
@mixin cleargroup {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//BOX-SHADOW
@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 .1rem .4rem rgba($color-black, .2);
    } @else if $level == 2 {
        box-shadow: 0 .2rem .8rem rgba($color-black, .2);
    } @else if $level == 3 {
        box-shadow: 0 .4rem 1.6rem rgba($color-black, .2);
    } @else if $level == 4 {
        box-shadow: 0 .8rem 2.4rem rgba($color-black, .2);
    } @else if $level == 5 {
        box-shadow: 0 1.6rem 3.2rem rgba($color-black, .2);
    } @else if $level == 6 {
        box-shadow: 0 2.4rem 4.8rem rgba($color-black, .2);
    }
}

//MEDIA QUERIES MANAGER
/*
0 - 600px: Phone
660px - 900px: Tablet Portrait Mode
900px - 1200px: Tablet Landscape Mode
[1200px - 1800px] is where our normal styles apply 
1800px + : Big Desktop
*/

@mixin responsive-phone {
    @media (max-width: 600px) { @content };   
}

/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout

*/

@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    } @else if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    } @else if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    } @else if $breakpoint == big-desk {
        @media (min-width: 112.5em) { @content }; // 1800px 
    }
}









