.composition {
    position: relative;

    &__photo {
        width: 55%;
        @include box_shadow(4);
        border-radius: .2rem;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        
        @include responsive(tab-port) { 
            float: left;
            position: relative;
            width: 33.3333333%;    
            margin-top: 3.2rem;     
            @include box_shadow(2);
        } 

        &--p1 {
            left: 0;
            top: -2rem;
            
            @include responsive(tab-port) { 
                top: 3rem;
                transform: scale(1.2);
                
            } 
        }

        &--p2 {
            right: 0;
            top: 2rem;
            
            @include responsive(tab-port) { 
                top: -1rem;
                transform: scale(1.5);
                z-index: 2;
            } 
        }

        &--p3 {
            left: 20%;
            top: 10rem;
            
            @include responsive(tab-port) { 
                top: 1rem;
                left: 0;
                transform: scale(1.4);
            } 
        }

        &:hover {
            transform: scale(1.05) translateY(.5rem);
            @include box_shadow(6);
            z-index: 2;
            outline-offset: 2rem;
            outline: 1.5rem solid $color-primary;
        }        
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);    
    }
}