.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.4rem;
    padding: 2.4rem;
    text-align: center;
    border-radius: .2rem;
    @include box_shadow(4);
    transition: all .25s;
    backface-visibility: hidden;

    &__icon {
        font-size: 6rem;
        line-height: 6rem;
        height: 6rem;
        width: 6rem;
        margin-bottom: 1.6rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
    
    &:hover {
        transform: translateY(-1.5rem) scale(1.04);
        @include box_shadow(6);
    }
    
    
}