// alignment
.u-text-center { text-align: center; }
// margins
.u-margin-bottom-xsmall { margin-bottom: 1.6rem; }
.u-margin-bottom-small { margin-bottom: 2.4rem; }
.u-margin-bottom-medium { margin-bottom: 3.6rem; }
.u-margin-bottom-large { margin-bottom: 4.8rem; }
.u-margin-bottom-xlarge { margin-bottom: 8rem; }
.u-margin-top-xsmall { margin-top: 1.6rem; }
.u-margin-top-small { margin-top: 2.4rem; }
.u-margin-top-medium { margin-top: 3.6rem; }
.u-margin-top-large { margin-top: 4.8rem; }
.u-margin-top-xlarge { margin-top: 8rem; }


